/*! formalize.css v1.9.0 | MIT License | axgmc.github.io/formalize.css */

/* Constants
   ========================================================================== */

/**
 * Global colors.
 */

:root {
	--formalize-border-color: rgb(118, 118, 118); /* text area default */
	--formalize-placeholder-color: rgb(117, 117, 117); /* Chrome default */
	--formalize-group-color: rgb(181, 181, 181); /* MacOS default */
	--formalize-focus-color: rgba(0, 103, 244, .5); /* Safari default */
	--formalize-button-color: rgb(239, 239, 239); /* Chrome default */
	--formalize-button-hover: rgba(0, 103, 244, .25); /* opinionated */
	--formalize-error-color: rgba(220, 53, 69, .75); /* Bootstrap's danger */

/**
 * Form elements styles.
 */

	--formalize-border-radius: 2px; /* visual default */
	--formalize-input-width: unset;
	--formalize-input-height: unset;
	--formalize-input-margin: unset;
	--formalize-input-padding: 1px 2px; /* Chrome default */
	--formalize-button-width: unset;
	--formalize-button-padding: 1px 6px; /* Chrome default */
}

/**
 * Invalid form elements styles.
 */

:user-invalid {
	--formalize-border-color: var(--formalize-error-color);
	--formalize-focus-color: rgb(from var(--formalize-error-color) r g b / .5);
}

/* Form elements
   ========================================================================== */

/**
 * Consistent border color in Safari and Firefox.
 */

fieldset {
	border-color: rgb(240, 240, 240);
}

/**
 * 1. Consistent border style for all form elements (opinionated).
 * 2. Consistent border radius for all form elements (opinionated).
 * 3. Enables consistent margins for all form elements.
 */

button,
input,
select,
textarea {
	border: 1px solid var(--formalize-border-color); /* 1 */
	border-radius: var(--formalize-border-radius); /* 2 */
	margin: var(--formalize-input-margin); /* 3 */
}

/**
 * Reverts some form elements to initial values.
 */

[type="range"],
[type="file"],
[type="image"] {
	border: revert;
}

/**
 * Enables consistent width for all form elements (or 'revert' to avoid no width for color input).
 */

input,
select,
textarea {
	width: var(--formalize-input-width, revert);
}

/**
 * Reverts some form elements to initial values.
 */

[type="checkbox"],
[type="radio"],
[type="button"],
[type="image"],
[type="submit"],
[type="reset"] {
	width: revert;
}

/**
 * Enables consistent height for all form elements (or 'revert' to avoid no height for color input).
 */

button,
input,
select {
	height: var(--formalize-input-height, revert);
}

/**
 * Reverts some form elements to initial values.
 */

[type="image"] {
	height: revert;
}

/**
 * 1. Consistent paddings for all form elements (opinionated).
 * 2. Enables consistent size for all form elements.
 */

input,
textarea {
	padding: var(--formalize-input-padding); /* 1 */
	box-sizing: border-box; /* 2 */
}

/**
 * Reverts some form elements to initial values.
 */

[type="range"],
[type="file"],
[type="button"],
[type="image"],
[type="submit"],
[type="reset"] {
	padding: revert;
}

/**
 * 1. Consistent background color in Firefox.
 * 2. consistent background color (opinionated).
 */

select, /* 1 */
[type="color"] { /* 2 */
	background-color: field;
}

/**
 * 1. Consistent buttons background color in Safari and Firefox.
 * 2. Consistent paddings in Safari and Firefox.
 * 3. Enables consistent width for all buttons.
 */

button,
[type="button"],
[type="submit"],
[type="reset"] {
	background-color: var(--formalize-button-color); /* 1 */
	padding: var(--formalize-button-padding); /* 2 */
	width: var(--formalize-button-width); /* 3 */
}

/**
 * Removes the inside button border in webkit browsers.
 */

::-webkit-color-swatch {
	border: 0;
}

/**
 * Removes the inside button border in Firefox.
 */

::-moz-color-swatch {
	border: 0;
}

/**
 * Removes the inside button padding in webkit browsers.
 */

::-webkit-color-swatch-wrapper {
	padding: 0;
}

/**
 * 1. Consistent border style for file input button (opinionated).
 * 2. Consistent border radius for file input button (opinionated).
 * 3. Consistent file input button background color in Safari and Firefox.
 * 4. Consistent file input button paddings in Safari and Firefox.
 */

::file-selector-button {
	border: 1px solid var(--formalize-border-color); /* 1 */
	border-radius: var(--formalize-border-radius); /* 2 */
	background-color: var(--formalize-button-color); /* 3 */
	padding: var(--formalize-button-padding); /* 4 */
}

/**
 * Avoids text areas resizing for consistency (opinionated).
 */

textarea {
	resize: none;
}

/**
 * 1. Consistent option group color and font weight (opinionated).
 * 2. Consistent option group font style in Firefox.
 */

optgroup {
	color: var(--formalize-group-color); /* 1 */
	font-weight: lighter; /* 1 */
	font-style: normal; /* 2 */
}

/**
 * Reverts option color to initial value.
 */

option {
	color: initial;
}

/* Placeholders
   ========================================================================== */

/**
 * 1. Consistent placeholder color in Safari and Firefox.
 * 2. Opacity fix in Firefox older versions.
 */

::-webkit-input-placeholder {
	color: var(--formalize-placeholder-color); /* 1 */
}

::-moz-placeholder {
	color: var(--formalize-placeholder-color); /* 1 */
	opacity: 1; /* 2 */
}

/* Focus effect
   ========================================================================== */

/**
 * 1. Consistent focus outline style (opinionated).
 * 2. Forces buttons outline effect in Firefox.
 */

:focus-visible,
[type="date"]:focus-within,
[type="datetime"]:focus-within,
[type="month"]:focus-within,
[type="time"]:focus-within,
[type="week"]:focus-within,
button:focus-visible, /* 2 */
[type='button']:focus-visible, /* 2 */
[type='submit']:focus-visible, /* 2 */
[type='reset']:focus-visible { /* 2 */
	outline: 3px solid var(--formalize-focus-color);
	outline-offset: 2px;
}

/**
 * Remove the focus border in Firefox older versions.
 */

[type="range"]::-moz-focus-outer {
	border: 0;
}

/* Hover effect
   ========================================================================== */

/**
 * Consistent hover background color (opinionated).
 */

button:hover,
[type="button"]:hover,
[type="submit"]:hover,
[type="reset"]:hover {
	background-color: var(--formalize-button-hover);
}

/**
 * Consistent hover background color for file input button (opinionated).
 */

:hover::file-selector-button {
	background-color: var(--formalize-button-hover);
}

/* Labels
   ========================================================================== */

/**
 * Consistent vertical alignments (opinionated).
 */

input,
select,
textarea {
	vertical-align: middle;
}

/* normalize.css fixes
   ========================================================================== */

/**
 * Consistent links outlines (issue #577).
 */

a:active,
a:hover {
	outline: none;
}

/**
 * Fix display in Firefox older versions when image input is empty (issue #546).
 */

[type="image"] {
	display: inline-block;
}

/**
 * Fix rounded corners bug before first focus on search input in iOS (issue #582).
 */

[type="search"] {
	-webkit-appearance: none;
}
