/*! formalize.css default theme | MIT License | axgmc.github.io/formalize.css */

:root {
	--formalize-border-color: rgb(192, 192, 192);
	--formalize-placeholder-color: rgb(168, 168, 168);
	--formalize-border-radius: 5px;
	--formalize-input-width: 50%;
	--formalize-input-margin: 2px;
	--formalize-input-padding: 6px;
	--formalize-button-width: 50%;
	--formalize-button-padding: 6px 12px;
}

html {
	font-family: sans-serif;
}

th {
	text-align: left;
}

td {
	vertical-align: top;
}

a:not([href]),
a:not([href]):hover {
	color: inherit;
	text-decoration: inherit;
}

img[src="#"] {
	display: none;
}

iframe {
	border: 0;
}

@media print {
	body {
		background: none;
	}
}
